ul, li {
    list-style: none;
}

.minH600 {
    min-height: 600px;
}

.ml40 {
    margin-left: 40px;
}

.navbar-fixed-top {
    background: #fff;
}

.navbar-header .header-icon {
    line-height: 40px;
    font-size: 20px;
}

.nav-text {
    line-height: 40px;
}

.content {
    margin-top: 60px;
    padding-bottom: 50px;
    min-height: 600px;
}

.mb20 {
    margin-bottom: 20px;
}

.has-error {
    border-color: #da4453;
}

.footer {
    color: #fff;
}

/*
    login
*/
.login-warp {
    width: 400px;
    float: right;
    margin-top: 30px;
}

.login-btns-warp {
    margin-top: 10px;
}

.login-warp .btn {
    margin-left: 5px;
}

.login-bg {
    float: left;
    width: 400px;
    height: 400px;
}

/*
    hacker
*/

.dropdown-menu {
    background-color: #fff;
}

