{%extends "../layout.html"%}

{%block style%}
<style>
    .editor {
        width: 600px;
    }

    .editor span.button {
        display: block;
        float: left;
        border: 1px solid #CCC;
        margin: 1px 5px 1px 0px;
        color: #000;
        background: #D0E8FC;
        width: 40px;
        height: 20px;
        text-align: center;
        cursor: pointer;
    }

    .editor-content {
        margin-top: 2px;
        min-height: 80px;
        border: 1px solid #d4d4d4;
        outline: none;
    }
</style>
{%endblock%}
{%block content%}

<div id="article">
    {% autoescape %}
    {{article}}
    {% endautoescape %}
</div>

<form action="/editor/article" method="post">
    <script id="container" name="content" type="text/plain">

    </script>
    <input type="submit" value="提交">
</form>

{%endblock%}

{%block script%}
<script src="/lib/ueditor/ueditor.config.js"></script>
<script src="/lib/ueditor/ueditor.all.js"></script>
<script>
    var ue = UE.getEditor("container");
    ue.ready(function () {
        ue.setContent($("#article").html());
    });
</script>
{%endblock%}